* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar {
    padding: 25px 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-section-1 {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 100%;
}

.logo-header {
    border: dotted black;
    width: 25%;
    text-justify: initial;
}

.login-button-header {
    border: dotted black;
    width: 25%;
    text-align: end;
}

.linkbar {
    display: flex;
    border: dotted black;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}

.container {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    border: dotted red;
    display: flex;
}

.section {
    padding: 25px 25px;
    display: flex;
    justify-content: center;
}

.bg-blue {
    background-color: blue;
}

.bg-grey {
    background-color: grey;
}

.bg-pink {
    background-color: pink;
}

.double-height {
    height: 500px;
}

.bg-green {
    background-color: green;
}

.footer {
    background-color: black;
    padding: 10px 25px 0 25px;
    flex-direction: column;
}


.container-footer {
    display: flex;
    width: 100%;
    height: 250px;
}

.square-1 {
    flex: 1;
    border: 1px white dotted;
}

.square-2 {
    flex: 2;
    border: 1px white dotted;
}

.bg-salmon {
    background-color: salmon;
}

.bg-aqua {
    background-color: aqua;
}

.separator {
    width: 100%;
    background-color: white;
    margin: 25px 0;
}

.footer-bar {
    padding: 25px 0;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.border-dotted-black {
    border: dotted black;
    background-color: violet;
}