*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    height: 250px;
}

.header-bar{
    padding: 15px 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.container-section-1{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 60%;
}

.logo{
    border: dotted black;
    width: 25%;
    text-justify: initial;
}

.login-button{
    border: dotted black;
    width: 25%;
    text-align: end;
}

.linkbar{
    display: flex;
    border: dotted black;
    width: 100%;
    justify-content: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    border: dotted red;
    display: flex;
}

.first-section{
    background-color: blue;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.pink-square{
    background-color: pink;
    width: 500px;
    height: 250px;
    border: dotted red;
}


.second-section{
    padding: 25px 0;
}


.azzurro1{
    background-color: aqua;
    width: 70%;
    height: 250px;
    border: dotted red;
}
.pink1 {
    background-color: pink;
    width: 30%;
    height: 250px;
    border: dotted red;
}

.third-section{
    background-color: grey;
    padding: 25px 0;
}

.fourth-section{
    background-color: grey;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}
.green-square{
    background-color: green;
    height: 800px;
    width: 100%;
}

.footer-bg{
    background-color: black;
    padding: 0 25px;
}

.salmon-square{
    background-color: salmon;
    height: 250px;
    width: 400px;
}

.aqua-square{
    background-color: aqua;
    height: 250px;
    width: 100px;
    border: dotted white;
}

